<p id="notice"><%= notice %></p>

<h1>Blogs</h1>


  <div class="container row">
    <% @blogs.each do |blog| %>
    <a href="<%= blog_url(blog) %>">
      <div class="card col-md-4 custom_card">
        <h4><%= blog.title %></h4>
        <div>
          <%= link_to 'Edit', edit_blog_path(blog), class: "" %>
          <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "" %>
        </div>
      </div>
    </a>
    <% end %>
  </div>

<br>

<%= link_to 'New Blog', new_blog_path %>
