<!-- Page Header -->
<header class="masthead")">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <span class="subheading">Projects and more</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="bg-light" id="portfolio">
  
  <%= link_to 'New Portfolio Item ', new_portfolio_path, class: "btn btn-primary new_post_btns" if current_user %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted">Recent Projects I've Contributed to</h3>
      </div>
    </div>
    <div class="row <%= 'sortable' if current_user %>">
      <% @portfolios.each do |portfolio| %>
        <div class="col-md-4 col-sm-6 portfolio-item" data-id="<%= portfolio.id %>">
          <a class="portfolio-link" href="<%= portfolio_path(portfolio) %>">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <div class="img-fluid" style="background-image: url(<%="#{portfolio.main_image}"%>);"></div>
            <!-- <div class="img-fluid" alt=""></div> -->
          </a>
          <div class="portfolio-caption">
            <h4><%= portfolio.title %></h4>
            <!-- Consider putting technologies listed below the title -->
            <!-- <p class="text-muted">Illustration</p> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Want to Work Together?</h2>
        <h3 class="section-subheading text-muted">Send me a Message and I'll be in Touch</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 contact_content">
        <h3>Phone</h3>

        <p><%= number_to_phone "8017093615" %></p>

        <h3>Email</h3>

        <p><a href="mailto:preston.matheson12@gmail.com?subject=PortfolioContact" class="contact_content">preston.matheson12@gmail.com</a> </p>
      </div>
    </div>
  </div>
</section>
