<header class="masthead")">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1><%= @portfolio.title %></h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="show_page_body">
      <!-- Project Details Go Here -->
      <%= @portfolio.body %>
      <%= @portfolio.main_image %>
  </div>
</div>
<div class="container blog_show_btns">
  <%= link_to 'Back', portfolios_path, class: "btn btn-primary blog_show_btn" %>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio), class: "btn btn-primary blog_show_btn" if current_user %>
</div>
